*{
    margin: 0;
    padding: 0;
}
body
{
    background-image: url(https://uploads-ssl.webflow.com/62398a82f65cfc2c79414e6c/6322dfe88b6f12be3a7dbb59_Datenpunkt-p-1600.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
div
{
    align-items: center;
}
.table
{
    background-color: #061c2e38;
    border-radius: 15px;
    padding: 9px;
    box-shadow: 2px -2px 10px 0 rgba(0, 0, 0, 0.226);
    margin-right: 35%;
    border: 1px solid #061c2e3f;
}
p
{
    width: 150%;
    color: #061c2e;
}
.button
{
    font-size: 18px;
    font-weight: bolder;
    width: 55px;
    height: 55px;
    background-color: rgba(95, 95, 95, 0.534);
    color: rgba(255, 255, 255, 0.829);
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.808);
}
.button:active
{
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.808);
    background-color: #061c2e38;
}
.add-button
{
    font-size: 18px;
    font-weight: bolder;
    width: 55px;
    height: 111px;
    background-color: rgba(104, 104, 104, 0.534);
    color: rgba(255, 255, 255, 0.829);
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.486);
}
.add-button:active
{
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.808);
    background-color: #061c2e38;
}
.eq-button
{
    font-size: 18px;
    font-weight: bolder;
    height: 55px;
    width: 115px;
    background-color: rgba(104, 104, 104, 0.534);
    color: rgba(255, 255, 255, 0.829);
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.486);
}
.eq-button:active
{
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.808);
    background-color: #061c2e38;
}
.bar
{
    width: 285px;
    height: 56px;
    background: none;
    color: #292929;
    border-radius: 10px;
    
}
.Clear
{
    font-size: 18px;
    font-weight: bolder;
    width: 55px;
    height: 55px;
    background-color: rgba(95, 95, 95, 0.534);
    color: rgba(255, 255, 255, 0.829);
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.808);
    margin-left: 80%;
}
.Clear:active
{
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.808);
    background-color: #061c2e38;
}
.Nam
{
    margin-left: 30%; 
    margin-right: 20%;
    font-size: 110px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}
.container
{
    display: flex; 
    justify-content: center;
    margin-top: 20px;
}
.nav-lg
{
    display: flex;
    justify-content: flex-end;
    color: black;
    height: 100px;
    
}
ul
{
    display: flex;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;    
}
li
{
    margin-right: 10%;
}
li:active
{
    background-color: #061c2e;
    border-radius: 25px;
    padding: 6%;
}
a
{
    text-decoration: none;
    color: #061c2e;
}
a:active
{
    color: white;
}
.logo
{
    position: absolute;
    margin-right: 90%;
}
.li-c
{
    width: 200px;
}
.li-c:active
{
    padding-left: 40px;
}
@media only screen and (max-width: 1020px)
{
    .container
    { 
        display: block;
        justify-self: left;
        margin-top: 120px;
    }
    .Nam
    { 
        font-size: 48px;
        font-weight: bolder;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 7%;
        margin-left: 31%;
    }
    .logo
    {
        margin-right: 85%;
    }
    p
    {
        width: 100%;
    }
}
@media only screen and (max-width: 800px)
{
    .container
    { 
        display: block;
        margin-top: 5px;
    }
    .Nam
    {
        font-size: 60px; 
        margin-bottom: 7%;
        margin-left: 30%;
    }
    .table
    {
        margin-right: 30%;
    }
    .logo
    {
        margin-right: 85%;
    }
    .li-c
    {
        width: 190px;
    }
    p
    {
        width: 100%;
    }
}
@media only screen and (max-width: 768px)
{
    .container
    { 
        display: block;
        margin-top: 20px;
    }
    .Nam
    { 
        font-size: 60px;
        margin-bottom: 7%;
        margin-left: 27%;
    }
    .table
    {
        margin-right: 30%;
    }
    .logo
    {
        margin-right: 85%;
    }
    p
    {
        width: 100%;
    }
}
@media only screen and (max-width: 600px)
{
    .container
    { 
        display: block;
        margin-top: 5px;
    }
    .Nam
    {
        font-size: 48px; 
        margin-bottom: 7%;
        margin-left: 24%;
    }
    .table
    {
        margin-right: 25%;
    }
    .logo
    {
        margin-right: 80%;
    }
    .li-c
    {
        width: 190px;
    }
    p
    {
        width: 100%;
    }
}
@media only screen and (max-width: 540px)
{
    .container
    { 
        display: block;
        margin-top: 5px;
    }
    .Nam
    {
        font-size: 36px; 
        margin-bottom: 7%;
        margin-left: 22%;
    }
    .table
    {
        margin-right: 20%;
    }
    .logo
    {
        margin-right: 80%;
    }
    .li-c
    {
        width: 190px;
    }
    p
    {
        width: 100%;
    }
}
@media only screen and (max-width: 480px)
{
    .container
    { 
        display: block;
        margin-top: 5px;
    }
    .Nam
    {
        font-size: 36px; 
        margin-bottom: 7%;
        margin-left: 20%;
    }
    .table
    {
        margin-right: 17%;
    }
    .logo
    {
        margin-right: 80%;
    }
    .li-c
    {
        width: 190px;
    }
    p
    {
        width: 100%;
    }
}
@media only screen and (max-width: 414px)
{
    .container
    { 
        display: block;
        margin-top: 5px;
    }
    .Nam
    {
        font-size: 36px; 
        margin-bottom: 7%;
        margin-left: 13%;
    }
    .table
    {
        margin-right: 13%;
    }
    .logo
    {
        margin-right: 80%;
    }
    .li-c
    {
        width: 160px;
    }
    p
    {
        width: 100%;
    }
}
@media only screen and (max-width: 380px)
{
    .container
    { 
        display: block;
        margin-top: 5px;
    }
    .Nam
    {
        font-size: 36px; 
        margin-bottom: 7%;
        margin-left: 7%;
    }
    .table
    {
        margin-right: 30%;
    }
    .logo
    {
        margin-right: 75%;
    }
    .li-c
    {
        width: 170px;
    }
    p
    {
        width: 100%;
    }
}

@media only screen and (max-width: 390px)
{
    .container
    { 
        display: block;
        margin-top: 5px;
    }
    .Nam
    {
        font-size: 36px; 
        margin-bottom: 7%;
        margin-left: 9%;
    }
    .table
    {
        margin-right: 10%;
    }
    .logo
    {
        margin-right: 80%;
    }
    .li-c
    {
        width: 160px;
    }
    p
    {
        width: 100%;
    }
}
@media only screen and (max-width: 360px)
{
    .container
    { 
        display: block;
        margin-top: 5px;
    }
    .Nam
    {
        font-size: 36px; 
        margin-bottom: 7%;
        margin-left: 8%;
    }
    .table
    {
        margin-right: 6%;
    }
    .logo
    {
        margin-right: 78%;
    }
    .li-c
    {
        width: 160px;
    }
    p
    {
        width: 100%;
    }
}
